<form [formGroup]="createForm" (ngSubmit)='onSubmit()'>
    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" formControlName="name">

    </div>
    <div class="form-group">
        <label>Code</label>
        <input type="text" class="form-control" formControlName="code">
    </div>
    <div class="form-group">
        <label>Available</label>
        <input type="text" class="form-control" formControlName="available">
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="number" class="form-control" formControlName="price">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>